@font-face {
  font-family: American Typewriter;
  src: url(../fonts/AmericanTypewriterBQ-Bold.otf);
}

p {
  color: #272727;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
}

.layout_margin {
  margin: 90px 0;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading_container h2 {
  font-weight: bold;
  color: #1d1e31;
  position: relative;
  text-transform: uppercase;
}

.heading_container hr {
  margin: 0 10px;
  border: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 200px;
  height: 3px;
  background-color: #51b5ef;
}

.hero_next_section-margin {
  margin-top: 100px;
}

/*header section*/
.hero_area {
  height: 100vh;
  position: relative;
}

.hero_area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18%;
  min-width: 150px;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#51b5ef), to(#436bf1));
  background: linear-gradient(to right, #51b5ef, #436bf1);
}

.sub_page .hero_area {
  height: auto;
  
}

.sub_page .hero_area::before {
  width: 100%;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  font-family: 'American Typewriter', sans-serif;
  font-weight: 400;
}

.navbar-brand span {
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  color: #ffffff;
  margin-top: 5px;
}

/*end header section*/

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .detail-box {
  padding-left: 10%;
}

.about_section .detail-box p {
  margin-top: 20px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 8px 35px;
  background-color: #262626;
  color: #ffffff;
  border: 1px solid #262626;
  margin-top: 30px;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  color: #262626;
}

.about_section .img-box img {
  width: 50%;
}

/* footer section*/
.footer_section {
  padding: 20px;
  background-color: #252525;
}

.footer_section .social_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0;
}

.footer_section .social_container h4 {
  color: #a9a6a6;
  font-weight: bold;
}

.footer_section .social_container .social_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_section .social_container .social_box a {
  margin: 0 10px;
}

.footer_section .social_container .social_box a img {
  max-width: 100%;
}

.footer_section p {
  margin: 0;
  text-align: center;
  color: #ffffff;
}

.footer_section a {
  color: #ffffff;
}

.info_section .info_contact .contact_link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info_section .info_contact .contact_link_box a {
  margin: 5px 0;
  color: #ffffff;
}

.info_section .info_contact .contact_link_box a i {
  margin-right: 5px;
}

.info_section .info_contact .contact_link_box a:hover {
  color: #f8842b;
}


/*# sourceMappingURL=style.css.map */